{{#each messages}}
<ul class="message-recieved">
  <li class="message-property">Username: {{username}}</li>
  <li class="message-property">Content: {{content}}</li>
  <li class="message-property">Time: {{moment created_at}}</li>
  <li class="message-property">Message ID: {{_id}}</li>
  <li class="message-property">Room Name: {{roomname}}</li>
</ul>
{{/each}}
